.contador-perso {
    background-color: #006EBA;
    text-align: center;
    color: white;
    padding-bottom: 40px;
}

.contador-perso h2 {
    margin-top: 10px;
    padding-top: 15px;
    margin-bottom: 30px;
}

.contador-perso p {
    font-size: 20px;
    margin: 0px;
}

.contador-perso i {
    font-size: 40px;
    margin: 0px;
}


span {
    font-size: 30px;
}
