.video-header {
    position: relative;
    background-color: black;

    
    width: 100%;
    overflow: hidden;
  }
  
.video-header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  
.video-header .container {
    position: relative;
    z-index: 2;
  }
  
  
  @media (pointer: coarse) and (hover: none) {
    .video-header {
      background: url('') black no-repeat center center scroll;
    }
    .video-header {
      display: none;
    }
  }