.topic-perso {
    background-color: #dcdcdc;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.topic-perso i {
    color: #228b22;
    font-size: 3rem;
    padding: 20px;
    
}

.topic-perso p {
    color: #006EBA;
}